<nav class="navbar" id="top-nav">
    <a href="/">
        <img class="navbar-logo" src="/images/rccg_logo_white.png">
    </a>
    <button class="mobile-menu" onclick="toggleMenu()">
        <i class="fas fa-bars" id="menu-icon"></i>
    </button>

    <ul class="navbar-nav" id="nav-menu">
        <li>
            <a href="/about" class="nav-link">about</a>
        </li>
        <li>
            <a href="/" class="nav-link">our ministries</a>
        </li>
        <li>
            <a href="/sermons" class="nav-link">sermons</a>
        </li>
    </ul>

    
</nav>